body{background-color:black;color:white;text-align: center;}
.nav{display:flex;align-items: center;justify-content: space-between;background-color:rgb(4, 8, 66);
position:fixed;right:0;left:0;top:0;padding:5px;height:max-content;border-bottom:2px dotted gray;}
ul{list-style: none;}
#productList{background-color:rgb(41, 41, 43);position:fixed;border-radius:0 0 20px 0;
    list-style: circle;box-shadow:0 0 1000px black;top:0;left:0;width:330px;height:0; z-index:1;overflow:hidden;}
.line{background-color:rgb(41, 41, 43);padding:5px 20px;margin:5px;border-radius:5px;border:1px solid gray;}
.line:hover{background-color:gray;transition:0.5s;border:0;color:black;}
.list-of-services{background-color:green;width:max-content;padding:10px;border-radius:5px;}
.list-shape{margin:20px;}
.hide-lists{background-color:red;padding:10px 20px;position:absolute;right:20px;bottom:25px;border:0;
border-radius:5px;color:white;font-weight:bolder;}
.logo{padding:10px;border-radius:10px;font-weight:bolder;transition:2s;}
#sideMenu{transition:0.5s; border-radius:0 0 0 20px; z-index:1;overflow:hidden; background-color:white;position:fixed;top:0;right:0;width:300px;height:0;}
#sideMenu-title{background-color:black;color:greenyellow;position:absolute;top:0;right:0;left:0;padding:10px;text-align:center;border-radius:0 0 20px 20px;font-size:13px;border-left:1px solid white;}
.menu-heading{animation:spin 6s linear infinite;}
@keyframes spin{
    100%{transform:rotateY(360deg)}
}
.menu-nav{position:absolute;bottom:0; background-color:black;margin-bottom:0;position:absolute;text-align: center;border-bottom:1px solid gray;border-left:1px solid gray; border-radius:0 0 0 20px;}
.menu-items{background-color:white;border-top:1px dashed gray;border-bottom:1px dashed gray;padding:10px;}
.line-item{border:1px solid black;color:black;margin:5px;padding:5px;border-radius:5px;list-style: circle;}
.quit-menu{background-color:rgb(11, 10, 14);padding:10px;border:1px solid gray;color:green;border-radius:10px;}
.quit-menu:hover{background-color:red;color:white;}
.but{cursor:pointer;}
#call-me{background-color:rgb(12, 12, 73);color:white;border:0;cursor:pointer;}
#menu{cursor:pointer;font-size:30px;margin-left:10px;margin-right:10px;}
.box{display:flex;flex-wrap: wrap;}
#image{border:0;}
.item{flex-grow:1;flex-basis:200;margin:5px; max-width:700px;border:0;}
.specify-purpose{text-align: center;border-radius:10px; background-color:rgb(22, 21, 22);color:white;padding:5px;}
#yourtext{font-size:30px;color:green;}
.display-image{margin:10px;}
.box3{display:flex;flex-wrap: wrap;}
.item3{flex-grow:1;flex-basis:200;margin:5px;border:0;}

@media (width>600px) {
    .item3{max-width:270px;margin:5px;margin:5px;}
}
.check{background-color:rgb(53, 50, 50);color:greenyellow;width:max-content;padding:5px 20px;border-radius:5px;}
.order{color:white;}
#note1{background-color:rgb(3, 20, 3);margin:0;padding:10px;border-radius:10px;}
.showroom{background-color:chocolate;padding:10px;margin-left:40px;margin-right:40px;border-radius:10px;font-weight:bolder;}
.showroom:hover{background-color:gray;border:0;color:black;}
.make{border:1px solid;padding:7px;margin-left:80px;margin-right:80px;border-radius:6px;}
.make:hover{background-color:rgb(3, 61, 3);}
#choice-design{z-index:1;overflow:hidden;height:0; position:fixed;top:0;margin:10px;background-color:rgb(12, 12, 53);}
.camera{padding:10px;margin:10px;background-color:green;border-radius:10px;}
.additional-details{padding:10px;background-color:black;color:green;width:200px;height:200px;border:0;border-radius:10px;}
.additional-details:hover{background-color:rgb(20, 20, 22);}
.summit{background-color:green;margin:10px;border:0;color:white;padding:10px 40px;border-radius:10px;font-weight:bold;}
.quit-design{background-color:rgb(12,12,53);color:white;border:1px solid;margin-bottom:40px; padding:10px 40px;border-radius:10px;}
.quit-design:hover{background-color:red;border:1px solid red;}
.view{background-color:chocolate;padding:5px 20px;border:0;border-radius:5px;font-weight:bold;}
.view:hover{background-color:orange;}
.details{background-color:blue;padding:5px 20px;border:0;color:white;font-weight:bold;border-radius:5px;}
.details:hover{background-color:rgb(51, 51, 236);}
.intro{background-color:rgb(14, 13, 13);padding:10px;border-radius:10px;}
.send{background-color:rgb(14,13,13);color:white;border:1px solid white;padding:10px 40px;border-radius:10px;font-weight:bold;}
.send:hover{background-color:grey;color:black;border:0;}
.chart{background-color:green;padding:10px 40px;border:0;border-radius:10px;font-weight:bold;}
.nav-bottom{background-color:gray;}
#navBottom{padding:10px;margin:0;}
.feedback{position:fixed;bottom:10px;left:10px;background-color:blue;padding:8px;border:0;color:white;border-radius:10px 10px 10px 0;}
.themes{position: fixed;bottom:10px;right:10px;background-color:white;padding:5px;border-radius:10px;}
.box2{display:flex;flex-wrap:wrap;}
.item2{flex-grow:1;flex-basis: 200;margin:5px;width:300px;list-style: none;text-align:center;}
#login-icon{font-size:25px;margin:4px;}
#advise-user-about-theme{background-color:blue;color:white;border:0;font-weight:bold;position:absolute;top:0;right:0;left:0;bottom:0;border-radius:10px;}
.theme{border:0;}
ul{display:flex;gap:20px;}
.miss{
    width:300px;
    height:250px;
    border-radius:10px;
}